#root, html, body {
    margin: 0;
    
}

* {
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;

}

html {
    scroll-behavior: smooth;
}



.header {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 120px;
    max-width: 600px;

}

   

.header-title  h1{
    color:#6a11cb;
    font-weight: bold;
    font-size: 34px;
}
.header-title  p{
    color:#48c6ef;
    font-weight: bold;
    font-size: 20px;
}

.btn-container {
    margin-right: 50px;
}

.btn-response {
    width: 100px;
    height: 30px;
    margin: 5px;
    color: yellowgreen;
    background-color: gray;
    border-radius: 5px;
    font-weight: bold;
    
}

.btn-response:hover {
    background-color: black;
    transition: 0.5ms;
}

.textarea-container {
    margin-right: 50px;
    max-width: 600px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.textarea-container p {
    font-size: 20px;
    color: tomato;
    font-weight: bold;
}

.area-position {
    max-width: 100%;
    width: 600px;
    min-height: 300px;
    font-size: 24px;
    color: green;
    background-color: whitesmoke;
    

}

.btn-read-text {
    width: 100%;
    display: block;
    height: 35px;
    background-color: turquoise;
    color: black;
    font-weight: white;
    border-radius: 2px;
}

.btn-read-text:hover{ 
    background-color: red;
}